<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtleback Zoo Asset Management</title>
</head>
<body>
<h1>Animals Asset Management</h1>
<ul>
    <li><a href="{{ url_for('view_animals') }}">View Animals</a></li>
    <li><a href="{{ url_for('insert_animal') }}">Insert Animal</a></li>
    <li><a href="{{ url_for('update_animal', animal_id=1) }}">Update Animal</a></li>
</ul>
<a href="{{ url_for('asset_management') }}">Go Back to Assets Menu</a>
</body>
</html>
