<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Turtleback Zoo Asset Management</title>
</head>
<body>
<h1>Welcome to Turtleback Zoo Asset Management</h1>

<h2>Menus:</h2>

<!-- Menu 1: Asset Management -->
<a href="{{ url_for('asset_management') }}">Asset Management</a><br>

<!-- Menu 2: Daily Zoo Activity -->
<a href="{{ url_for('daily_zoo_activity') }}">Daily Zoo Activity</a><br>

<!-- Menu 3: Management and Reporting -->
<a href="{{ url_for('management_and_reporting') }}">Management and Reporting</a><br>
</body>
</html>
